<form id="signup-form" name="signup_form" ng-submit="$ctrl.signup()">

    <div id="signup-email" class="row col-lg-12">
        <label for="signup-email" class="col-xs-3">Email</label>
        <input type="email"
               class="col-xs-9" name="signup-email"
               ng-model="$ctrl.signupForm.email"
               required>
    </div>
    <div id="signup-name" class="row col-lg-12">
        <label for="signup-name" class="col-xs-3">Name</label>
        <input class="col-xs-9" name="signup-name"
               ng-model="$ctrl.signupForm.name"
               required>
    </div>
    <div id="signup-password" class="row col-lg-12">
        <label for="signup-password" class="col-xs-3">Password</label>
        <input type="password"
               class="col-xs-9" name="signup-password"
               ng-model="$ctrl.signupForm.password"
               required>
    </div>
    <div id="signup-password_confirmation" class="row col-lg-12">
        <label for="signup-password_confirmation" class="col-xs-3">Password confirmation</label>
        <input type="password"
               class="col-xs-9" name="signup-password_confirmation"
               ng-model="$ctrl.signupForm.password_confirmation"
               required>
    </div>
    <div id="signup-controls" class="row col-lg-12">
        <button ng-hide="$ctrl.id"
                type="submit"
                class="col-xs-3 btn btn-default"
                name="signup-submit"
                ng-disabled="signup_form.$invalid"
                >Sign Up</button>
    </div>
</form>